{% comment %}
  Card Component
  A reusable card component
{% endcomment %}

{% comment %}
  card component
  Usage: {% render 'card', param1: 'value' %}
{% endcomment %}

{%- liquid
  assign param1 = param1 | default: 'default_value'
-%}

<div class="card card--{{ param1 }}">
  <!-- card component content -->
  <span class="card__text">card Component</span>
  <span class="card__text">card Component</span>
  <span class="card__text">card Component</span>
  <span class="card__text">card Component</span>
  <span class="card__text">card Component</span>
  <span class="card__text">card Component</span>
  <span class="card__text">card Component</span>
</div>


{% schema %}
{
  "name": "Card",
  "tag": "div",
  "class": "card",
  "settings": [
    {
      "type": "text",
      "id": "param1",
      "label": "Example parameter",
      "default": "default_value"
    }
  ]
}
{% endschema %}
